@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1{
    color: white;
    font-weight: bolder;
}

p{
    color: white;
}

h2{
    color: white;
    font-weight: bolder;
}

body{
    margin: 0;
    background-color: #343E47;
    background-image: url("./images/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

}

.all-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    width: 80%;
    height: 50%;
    padding: 6%;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header{
    margin-bottom: 4%;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: none;
}

.stap1{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.stap2{
    width: 30%;
}

.qr-img{
    width: 80%;
}

.qr-img img{
    width: 100%;
}

.stap3{
    width: 20%;
}


.submit-button input{
    width: 70%;
    padding: 5%;
    background-color: #343E47;
    color: white;
    border: none;
}

@media only screen and (max-width: 600px) {

    body{
        overflow: scroll;
        overflow-x: hidden;
    }

    .all-container{
        padding-top: 25%;
    }

    .section{
        height: initial;
        margin: 5%;
        margin-top: 15%;
    }

    form{
        flex-direction: column;
    }

    .stap1, .stap2, .stap3{
        width: 90%;
    }

}
